#info {
  border-bottom: 1px solid #AAC;
  margin-bottom: 20px;
  padding: 20px;
}

#info h2 {
  font-size: 2em;
  font-variant: small-caps;
}

#info h3 {
  font-size: 1em;
}

#info p {
  font-weight: normal;
  margin: 10px 0px;
}

#documents {
  float: right;
  margin-right: 20px;
  padding: 20px;
}

#documents ul {
  list-style-image: url("/images/paperclip.gif");
}

#actions {
  margin: 50px;
}

#actions form {
  font-size: 1em;
}

#actions form input[type=submit] {
  border: 1px solid;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  height: 30px;
  padding: 3px;
  width: 160px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#actions #schedule input[type="submit"]:hover {
  background-color: #00AEEF;
}

#actions .buttons .next_activity:hover {
  background-color: #2B2;
}
#actions .buttons .reject:hover {
  background-color: #F22;
}
#actions .buttons .declined:hover {
  background-color: #999;
}

#actions form label {
  text-align: right;
  vertical-align: top;
  width: 4.5em;
}

#actions form p {
  float: left;
  margin-right: 5px;
}

#actions .buttons {
  margin: 5px auto 10px;
  width: 500px;
}

#actions .buttons form {
  float: left;
}

#actions .small_form {
  display: block;
}

#schedule {
  margin: 0px auto;
  width: 700px;
}

#activity th {
  font-variant: small-caps;
}

#activity td {
  margin: 10px;
  padding: 5px;
  width: 15em;
}

#activity td.activity_name {
  font-variant: small-caps;
}

#feedback {
  margin: 20px 0px;
}

#feedback .name_and_score {
  border: 1px solid #AAC;
  float: left;
  margin: 10px;
  padding: 10px;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#feedback .score {
  font-size: 2em;
}

#feedback .name {
  font-variant: small-caps;
}

#feedback li {
  margin: 25px 0px;
}

#edit {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
