<div id="feedback" class="clearfix">
  <%= render :partial => 'recruits/feedback/feedback_form',
             :locals => {:activity => activity} %>
  <div id="activity_<%= activity.id %>"
    class="activity <%= 'current_activity' if activity.current? %>">
    <%= render :partial => 'recruits/feedback/list',
               :locals => {:activity => activity} %>
  </div>
</div>
