body {
  background-color: #022A65;
  font-family: 'Palatino','Times New Roman',serif;
  font-size: 1em;
}

body, h1, h2, h3, h4, h5, div, p, ul, ol, li {
  margin: 0px;
  padding: 0px;
}

ul, li {
  list-style: none;
}

#header {
  background-image: url('/images/header.png');
  background-repeat: no-repeat;
  color: #8DD9f8;
  height: 55px;
  margin: 10px 0px;
  padding: 10px;
}

#header a {
  color: #8DD9f8;
  font-weight: bold;
  text-decoration: none;
}

#header h1 {
  font-size: 3em;
  font-variant: small-caps;
  line-height: .5em;
  margin: 5px 0px 0px 75px;
}

#header h2 {
  font-family: cursive;
  font-size: 1em;
  font-style: oblique;
  margin-left: 90px;
}

#header .subpage {
  color: #FFF;
  display: inline-block;
  float: right;
  font-size: .75em;
  font-weight: normal;
  font-variant: normal;
  margin: 10px 0px;
  padding-right: 30px;
  text-align: center;
  width: 440px;
}

#header .menu {
  float: right;
}

#header .menu a:hover {
  text-decoration: underline;
}

#container {
  margin: 0px auto;
  width: 960px;
}

#content {
  background-color: #EFF8FC;
  margin: 5px 0px;
  padding: 25px;
  position: relative;
  min-height: 500px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.empty {
  background-color: #33BBC8;
  color: #EEE;
  margin: 20px;
  padding: 20px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Fix for Firefox giving this div height when it's hidden */
#ui-datepicker-div {
  display: none;
}

#flash_content {
  cursor: pointer;
  height: 60px;
  position: absolute;
  top: 0px;
  padding: 30px 0px;
}

#flash {
  color: #000;
  cursor: pointer;
  display: none;
  text-align: center;
  font-weight: bold;
  margin: 0px 160px;
  padding: 5px 0px;
  width: 640px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#flash:hover {
  opacity: .8;
}

.success {
  background-color: #0F0;
  border: 1px solid #060;
}

.notice {
  background-color: #FF0;
  border: 1px solid #660;
}

.failure {
  background-color: #F00;
  border: 1px solid #600;
}

.button {
  color: #000;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
a.button {
  cursor: pointer;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
