body {
  background-color: #022A65;
  font-family: 'Palatino','Times New Roman',serif;
  font-size: 1em;
}

body, h1, h2, h3, h4, h5, div, p, ul {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

#header {
  background-image: url('/images/header.png');
  background-repeat: no-repeat;
  color: #FFF;
  height: 55px;
  padding: 10px;
}

#header a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

#header h1 {
  font-size: 3em;
  font-variant: small-caps;
  margin-left: 75px;
}

#header .subpage {
  display: inline-block;
  font-size: .75em;
  font-weight: normal;
  margin: 0px 10px;
  font-variant: normal;
}

#header_menu {
  float: right;
  padding: 5px 0px;
}

#header_menu a:hover {
  text-decoration: underline;
}

#container {
  margin: 0px auto;
  width: 960px;
}

#content {
  background-color: #EFF8FC;
  margin: 5px 0px;
  padding: 25px;
  position: relative;
  min-height: 500px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

/* Fix for Firefox giving this div height when it's hidden */
#ui-datepicker-div {
  display: none;
}

.flash_notice {
  background-color: #98CFF0;
  color: #FFF;
  text-align: center;
  padding: 5px;
  width: 100%;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
