<div id="actions" class="clearfix">
  <% activity = @recruit.current_activity %>
  <% if activity && !activity.terminal? %>
    <% if activity.needs_scheduling? %>
      <%= render :partial => 'recruits/actions/schedule_form',
                 :locals => {:activity => activity} %>
    <% end %>
    <div class="buttons">
      <%= render :partial => 'recruits/actions/next_activity_form' %>
      <%= render :partial => 'recruits/actions/reject_form' %>
      <%= render :partial => 'recruits/actions/decline_form' %>
    </div>
  <% end %>
</div>
