<table id="activity" class="clearfix">
  <tr>
    <% ['', 'Scheduled For', 'Completed At'].each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
  <% @recruit.activities.each do |activity| %>
    <tr>
      <td class="activity_name"><%= activity.friendly_name %></td>
      <td class"time"><%= format_time(activity.scheduled_time) %></td>
      <td class"time"><%= format_time(activity.completed_at) %></td>
    </tr>
  <% end %>
</table>
