<div id="actions">
  <% activity = @recruit.current_activity %>
  <% if activity && !activity.terminal? %>
    <% if activity.needs_scheduling? %>
      <%= render :partial => 'schedule_form',
                 :locals => {:activity => activity} %>
    <% end %>
    <% if activity.scheduled? %>
      <%= render :partial => 'next_activity_form' %>
    <% end %>
    <%= render :partial => 'reject_form' %>
    <%= render :partial => 'decline_form' %>
  <% end %>
</div>
