<%= stylesheet_link_tag 'tablesorter' %>
<%= javascript_include_tag 'plugins/jquery.tablesorter' %>
<%= javascript_include_tag 'recruits/index' %>

<% @page_title = "Recruits" %>
  <%= render :partial => 'list', :locals => {:recruits => @recruits} %>
</table>
