<% @page_title = "Recruits" %>
  <% [:confused, :scheduling, :decision, :upcoming].each do |state| %>
    <%= render :partial => 'list',
               :locals => {:state => state, :recruits => @recruits[state]} %>
  <% end %>
</table>
