<%= error_message_on(@user_session, :base) %>
<div id="login">
  <p>
    Log in to swim.<br />
    21+ to dive.
  </p>
  <%= authlogic_facebook_login_button :controller => 'user_sessions', :js => :jquery  %>
</div>
