<%= error_message_on(@user_session, :base) %>
<div id="login">
  <p>
    Login to cold filter.<br />
    21+ to heat pasturize.
  </p>
  <%= authlogic_facebook_login_button :controller => 'user_sessions', :js => :jquery  %>
</div>
